#!/usr/bin/env python

PACKAGE = "vision"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("loH", int_t, 0, "Low H bound for buoy", 118, 0, 255)
gen.add("loS", int_t, 0, "Low S bound for buoy", 0, 0, 255)
gen.add("loV", int_t, 0, "Low V bound for buoy", 0, 0, 255)
gen.add("hiH", int_t, 0, "High H bound for buoy", 184, 0, 255)
gen.add("hiS", int_t, 0, "High S bound for buoy", 255, 0, 255)
gen.add("hiV", int_t, 0, "High V bound for buoy", 255, 0, 255)
gen.add("Area", int_t, 0, "Area of pole before stop", 7500, 0, 15000)

exit(gen.generate(PACKAGE, "pole", "pole"))
